<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .email-header {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
        }

        .email-body {
            margin: 20px;
        }

        .button {
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
    <title>Notification</title>
</head>
<body>
<div class="email-header">
    <h2>Notification Email</h2>
</div>
<div class="email-body">
    <p>Hi <span th:text="${name}">[Tên người dùng]</span>, </p>
    <p>Someone has created to reset password of this account. If this was you, click the link below to change your password</p>
    <a th:href="@{${confirmationLink}}" class="button">Verify email</a>
    <p>This link will expire within 12 hours.</p>
    <p>If you didn't make this request, just ignore this message.</p>
</div>
</body>
</html>